<title>ASIN browser</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="shortcut icon" href="http://novakin.aka.corp.amazon.com:3030/ico.gif">
<style>
  .bg-success, .bg-warning {
    opacity: .5;
  }
  .table label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
  .table label input {
    transform: rotate(180deg) translate(5px);
  }
</style>

<div class="card" id="app">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#/asins/prod">Prod ASINs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/asins/devo">Devo ASINs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/features/prod">Prod features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/features/devo">Devo features</a>
        </li>
        <!-- <li class="nav-item"> -->
        <!--     <a class="nav-link" href="#redundant-devo">Redundant ASINs</a> -->
        <!-- </li> -->
        <li v-if="lastModified" class="nav-item ml-auto">
          <div class="nav-link active">
            Data is updated: <em>{{ lastModified }}</em>
          </div>
        </li>
    </ul>

    <div class="card-body">
        <div class="bg-light mb-3 p-3">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-subtitle">Filters</h5>

                    <div v-if="isDevo && !isFeaturesApp" class="form-group row">
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="filters.isRetail" v-on:change="update"> Retail ASINs
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="filters.is3p" v-on:change="update"> 3P ASINs
                                </label>
                            </div>
                        </div>
                    </div>

                    <asin-filter v-if="!isFeaturesApp" v-model="gl" :data="gls" :title="'Filter by GL'"></asin-filter>
                    <div v-if="!isFeaturesApp && !gl && asins.length" class="form-group row" style="margin-top: -1rem">
                      <div class="col-3"></div>
                      <div class="col-9">
                        <small class="text-muted">Some ASINs are hidden from the list. To see them, select particular GL.</small>
                      </div>
                    </div>

                    <asin-filter v-if="isFeaturesApp" v-model="filters.gl" :data="gls" :title="'Filter by GL'"></asin-filter>

                    <asin-filter v-if="!isFeaturesApp" v-model="filters.ptd" :data="ptds" :title="'Filter by Product Type'"></asin-filter>
                    <asin-filter v-model="filters.wdg" :data="wdgs" :title="'Filter by WDG'"></asin-filter>

                    <div v-if="!isFeaturesApp" class="form-group row">
                        <label for="text-filter" class="col-3 col-form-label">Filter by Title and Brand name</label>
                        <div class="col-9">
                            <input class="form-control" id="text-filter" placeholder="Type text..." v-model="filters.text" v-on:input="update">
                        </div>
                    </div>

                    <is-debug v-model="isDebug"></is-debug>
                </div>

                <div class="col-6">
                    <p>
                        <em>With any feedback, bug reports, feature requests, questions, please contact @novakin</em>
                    </p>

                    <h5 v-if="isFeaturesApp" class="card-subtitle mt-5">Legend</h5>
                    <dl v-if="isFeaturesApp" class="row m-1">
                        <dt class="col-1 bg-success"></dt>
                        <dd class="col-11">Feature is present on the page and displays the content</dd>
                        <dt class="col-1 mt-1 bg-warning"></dt>
                        <dd class="col-11 mt-1">Feature is either not present on the page or doesn't have any content</dd>
                    </dl>
                </div>
            </div>

        </div>

        <details v-if="!isFeaturesApp">
            <summary>Select columns</summary>
            <div class="columns">
                <div class="form-check form-check-inline" v-for="column in columns">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" v-bind:value="column" v-model="selectedColumns">
                    {{ column }}
                </label>
                </div>
            </div>
        </details>

        <table v-if="!isFeaturesApp" v-show="!loadingProgress" class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th v-for="column in selectedColumns">{{ column }}</th>
                </tr>
            </thead>
            <tr v-for="(item, index) in asins">
                <th>{{ index + 1 }}</th>
                <td v-for="column in selectedColumns">
                    <template v-if="column == 'asin'">
                        <a v-bind:href="buildUrl(item)">{{ item.asin }}</a>
                    </template>
                    <template v-else>{{ item[column] }}</template>
                </td>
            </tr>
        </table>

        <table v-if="isFeaturesApp" v-show="!loadingProgress" class="table table-hover table-bordered">
            <thead class="thead-default text-capitalize">
                <tr>
                    <th>#</th>
                    <th>ASIN</th>
                    <th>GL</th>
                    <th>WDG</th>
                    <th v-for="feature in features" class="text-center">
                        <label>
                            <input type="checkbox" v-bind:value="feature" v-model="filters.features" v-on:change="update">
                            {{ feature }}
                        </label>
                    </th>

                </tr>
            </thead>
            <tr v-for="(item, index) in asins">
                <th>{{ index + 1 }}</th>
                <td><a v-bind:href="buildUrl(item)">{{ item.asin }}</a></td>
                <td>{{ item.gl }}</td>
                <td>{{ item.wdg }}</td>
                <td
                    v-for="feature in features"
                    v-bind:class="{ 'bg-success': item.features.has(feature), 'bg-warning': !item.features.has(feature) }">
                </td>
            </tr>
        </table>
    </div>

    <div v-show="loadingProgress" class="card-body progress-card">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" v-bind:style="'width: ' + loadingProgress + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</div>

<script src="vue.min.js"></script>
<script src="main.js"></script>
