<title>ASIN browser</title>
<link rel="stylesheet" href="bootstrap.min.css">
<style>
  .bg-success, .bg-warning {
    opacity: .5;
  }
  .table label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
  .table label input {
    transform: rotate(180deg) translate(5px);
  }
</style>

<div class="card">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#asins-prod">Prod ASINs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#asins-devo">Devo ASINs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#features-prod">Prod features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#features-devo">Devo features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#redundant-devo">Redundant ASINs</a>
        </li>
    </ul>

    <div class="card-body" hidden id="asins-app">
        <div class="form-group bg-light p-3">
            <h5 class="card-subtitle">Filters</h5>

            <div class="form-group row">
                <div class="col-12">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="filters.isRetail" v-on:change="update"> Retail ASINs
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="filters.is3p" v-on:change="update"> 3P ASINs
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="gl-filter-1" class="col-3 col-form-label">Filter by GL</label>
                <div class="col-9">
                    <select class="custom-select" id="gl-filter-1" v-model="filters.gl" v-on:change="update">
                        <option selected></option>
                        <option v-for="gl in gls" v-bind:value="gl">{{ gl }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="ptd-filter" class="col-3 col-form-label">Filter by Product Type</label>
                <div class="col-9">
                    <select class="custom-select" id="ptd-filter" v-model="filters.ptd" v-on:change="update">
                        <option selected></option>
                        <option v-for="ptd in ptds" v-bind:value="ptd">{{ ptd }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="wdg-filter-1" class="col-3 col-form-label">Filter by WDG</label>
                <div class="col-9">
                    <select class="custom-select" id="wdg-filter-1" v-model="filters.wdg" v-on:change="update">
                        <option selected></option>
                        <option v-for="wdg in wdgs" v-bind:value="wdg">{{ wdg }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="text-filter" class="col-3 col-form-label">Filter by Title and Brand name</label>
                <div class="col-9">
                    <input class="form-control" id="text-filter" placeholder="Type text..." v-model="filters.text" v-on:input="update">
                </div>
            </div>

        </div>
        <details>
            <summary>Select columns</summary>
            <div class="columns">
                <div class="form-check form-check-inline" v-for="column in columns">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" v-bind:value="column" v-model="selectedColumns">
                    {{ column }}
                </label>
                </div>
            </div>
        </details>
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th v-for="column in selectedColumns">{{ column }}</th>
                </tr>
            </thead>
            <tr v-for="(asin, index) in asins">
                <th>{{ index + 1 }}</th>
                <td v-for="column in selectedColumns">
                    <template v-if="column == 'asin'">
                        <a v-bind:href="host + asin[column]">{{ asin[column] }}</a>
                    </template>
                    <template v-else>{{ asin[column] }}</template>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body" hidden id="features-app">
        <div class="form-group bg-light p-3">
            <h5 class="card-subtitle">Filters</h5>

            <!-- <div class="form-group row"> -->
            <!--     <div class="col-12"> -->
            <!--         <div class="form-check form-check-inline"> -->
            <!--             <label class="form-check-label"> -->
            <!--                 <input class="form-check-input" type="checkbox" v-model="filters.isRetail" v-on:change="update"> Retail ASINs -->
            <!--             </label> -->
            <!--         </div> -->
            <!--         <div class="form-check form-check-inline"> -->
            <!--             <label class="form-check-label"> -->
            <!--                 <input class="form-check-input" type="checkbox" v-model="filters.is3p" v-on:change="update"> 3P ASINs -->
            <!--             </label> -->
            <!--         </div> -->
            <!--     </div> -->
            <!-- </div> -->

            <div class="form-group row">
                <label for="gl-filter-2" class="col-3 col-form-label">Filter by GL</label>
                <div class="col-9">
                    <select class="custom-select" id="gl-filter-2" v-model="filters.gl" v-on:change="update">
                        <option selected></option>
                        <option v-for="gl in gls" v-bind:value="gl">{{ gl }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="wdg-filter-2" class="col-3 col-form-label">Filter by WDG</label>
                <div class="col-9">
                    <select class="custom-select" id="wdg-filter-2" v-model="filters.wdg" v-on:change="update">
                        <option selected></option>
                        <option v-for="wdg in wdgs" v-bind:value="wdg">{{ wdg }}</option>
                    </select>
                </div>
            </div>

        </div>

        <table class="table table-hover table-bordered">
            <thead class="thead-default text-capitalize">
                <tr>
                    <th>#</th>
                    <th>ASIN</th>
                    <th>GL</th>
                    <th>WDG</th>
                    <!-- <th>merch</th> -->
                    <th v-for="column in columns" class="text-center">
                        <label>
                            <input type="checkbox" v-bind:value="column" v-model="filters.features" v-on:change="update">
                            {{ column }}
                        </label>
                    </th>

                </tr>
            </thead>
            <tr v-for="(asin, index) in asins">
                <th>{{ index + 1 }}</th>
                <td><a v-bind:href="host + asin.asin">{{ asin.asin }}</a></td>
                <td>{{ asin.gl }}</td>
                <td>{{ asin.wdg }}</td>
                <!-- <td>{{ asin.merchants }}</td> -->
                <td
                    v-for="column in columns"
                    v-bind:class="{ 'bg-success': asin.features.has(column), 'bg-warning': !asin.features.has(column) }">
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="vue.min.js"></script>
<script src="main.js"></script>
